body {
    font-family: 'Noto Sans', sans-serif;
}

.header {
    position:relative;
    width: 100%;
    height: 182px;
    background-image: url("http://nomadsworld.com/images/places/blogs/2_sheep_new_zealand.jpg");
    background-size:cover;
    background-position:50% 31%;
}

.header-text {
    display:block;
    line-height: 182px;
    text-align: center;
}

.header-sidebar {
    position:absolute;
    bottom:0px;
    right:0px;
}

.content-container {
    width: calc(100% - 300px);
    background-color:red;
    margin:0px;
}

.sidebar {
    float: right;
    width:300;
    height:435;
    margin: 0 0 0 5;
    background-color:blue;
}

.article-div {
    background-color:deeppink;
    list-style-type: none;
}


ul {
    padding:0px;
    margin:0px;
    
    &.list-items {
    display:block;
    background-color:pink;
    list-style-type: none;
    padding:0px;

    }
    
    & li {
        height:72px;
        margin:0 0 5 0;
        background-color:deeppink;
    }
}
